# Katalogi generowane przez skrypt
osm_relations/

# Pliki konfiguracyjne
.idea/
.vscode/

# Środowisko Python
venv/
env/
.env
.venv
ENV/

# Pliki cache Pythona
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Inne
.DS_Store
Thumbs.db